* text=auto

.* text eol=lf
*.jade text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.xml text eol=lf

# TypeScript source file
*.ts text eol=lf
*.ts linguist-detectable=true
*.ts linguist-documentation=false
*.ts linguist-language=TypeScript
*.tsx linguist-detectable=true
*.tsx linguist-documentation=false
*.tsx linguist-language=TypeScript

# Javascript source file
*.js text eol=lf
*.js linguist-detectable=false
*.js linguist-documentation=false
*.js linguist-language=JavaScript

# JSON (JavaScript Object Notation) source file
*.json text eol=lf
*.json linguist-detectable=false
*.json linguist-documentation=false
*.json linguist-language=JSON-with-Comments

# CSS (Cascade Styling Sheets) stylesheet file
*.css text eol=lf
*.css linguist-detectable=true
*.css linguist-documentation=false
*.css linguist-language=CSS

*.less text eol=lf
*.scss text eol=lf

# HTML
*.html text eol=lf
*.html linguist-detectable=false
