# coverage
clover.xml
**/coverage/**

# Docker
docker-compose.override.yml

# ssh
.devcontainer/.ssh/**
!.devcontainer/.ssh/config

# AWS CLI
.devcontainer/.aws/**
!.devcontainer/.aws/config

# AWS CDK
**/cdk.out/*

# Packages
node_modules/*
**/node_modules/*

# Logs
*.log

.pnpm-store/
common/temp/
**/.rush/temp/

**/docs/.nojekyll
**/docs/*.html

.env

# Dist
**/dist/**
**/.cache/**
**/build/**

.DS_Store
