# Docker
docker-compose.override.yml

# AWS CLI
.aws/**
!.aws/*.dist

# AWS CDK
**/cdk.out/*
infra/org-formation/organization.yml

# Packages
node_modules/*
**/node_modules/*

# Logs
*.log

.pnpm-store/
common/temp/
**/.rush/temp/

