version: "3.8"
services:
  cdk-monorepo:
      build:
        context: .
        args:
            USER: node
            UID: 1000
    environment:
      - AWS_SDK_LOAD_CONFIG=1
      - STAGE=default