@import '../../styles/utils/color-pallette';

.form-label {
  color: lighten($color-off-black, 30%);
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.form-control {
  letter-spacing: 0.1rem;
}
