[profile DeveloperSandbox]
sso_start_url = 
sso_region = us-east-2
sso_account_id = 
sso_role_name = AdministratorAccess
region = us-east-2
output = json
credential_process = aws-sso-credential-process --profile DeveloperSandbox