@import '../../styles/utils/color-pallette';

:global {
.page-footer {
  background-color: $color-primary;
  color: $color-white;
  margin: 0;
  padding: 3rem;
  a {
    opacity: 0.9;
    text-decoration: none;
    color: $color-white;
    &:hover {
      color: $color-white;
      opacity: 1;
      font-weight: bold;
    }
  }
  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    opacity: 0.3;
    border: 3px solid $color-sky-blue;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    li {
      width: 33%;
      margin: 0.2rem;
      display: inline-block;
      a {
        padding: 0.2rem;
        display: block;
      }
    }
  }
}
}