@import '../../styles/utils/color-pallette';
@import '../../styles/fonts';

.data-highlights {
  & .data-highlights-quantity {
    position: relative;
    margin-bottom: -20px;
    padding: 0;
    border-top: 1px solid lighten($color-gray, 20%);
    border-top-left-radius: 50px;
    background: linear-gradient(to right,$color-murrey, $color-orange);
    background-clip: text;
    color: $color-murrey;
    color: transparent;
    font-style: italic;
    font-weight: bold;
    font-size: 5rem;
    font-family: $font-family-game;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 3rem;
      border-left: 1px solid lighten($color-gray, 10%);
      border-top-left-radius: 50px;
    }
  }

  & .data-highlights-description {
    color: $color-off-black;
  }
}