.tabs {
  .scrollable {
    --webkit-overflow-scrolling: touch;

    overflow-x: scroll;
    max-width: 100%;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
