.alert {
 border: none;
 border-radius: 3px;
 box-shadow: rgb(0 0 0 / 0.12) 0 4px 30px 0;

 &.alert-success {
  background-color: #f9fef9  !important;

  svg {
      color: #59ca97;
   }
  }

 &.alert-warning {
  background-color: #fefbf9 !important;

  svg {
    color: #f1963b;
   }
  }

 &.alert-info {
  background-color: #fafdff !important;

  svg {
    color: #1174ff;
  }
 }

 &.alert-danger {
  background-color: #fffafb !important;

  svg {
    color: #bf1722;
  }
 }
}