@import '../../styles/utils/color-pallette';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/bootstrap';

// Get the value of $spacer variable (default Bootstrap spacing unit)
$spacer: spacer();
$nugde-out-width: 3.063rem;

.article {
  overflow-x: hidden;
  width: 100%;
  background-color: $color-cta-white;

  & .container {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      width: 1px;
      height: 100%;
      background-color: $color-light-gray;
    }

    h2 {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -(map-get($spacers, 4)) - ($nugde-out-width);
        width: $nugde-out-width;
        height: 100%;
        background-color: $color-blue;
      }
    }
  }
}
