$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Playfair Display', serif;

.font-serif {
  font-family: $font-family-serif;
}

.font-sans-serif {
  font-family: $font-family-sans-serif;
}

.font-game {
  font-style: normal;
  font-weight: 400;
  font-family: "Jersey 10", sans-serif;
}
