@import './color-pallette';

.bgOffWhite {
  background-color: $color-off-white !important;
}

.bgBrandDark {
  background-color: $color-berkeley-blue !important;
}

.bgBrandLight {
  background-color: $color-gold !important;
}

.bgBrandPrimary {
  background-color: $color-murrey !important;
}

.bgBrandSecondary {
  background-color: $color-sgbus-green !important;
}

.bgBrandTertiary {
  background-color: $color-sky-blue !important;
}

.text-white {
  color: $color-white !important
}