@import './color-pallette';

.bg-off-white {
  background-color: $color-off-white !important;
}

.bg-brand-dark {
  background-color: $color-berkeley-blue !important;
}

.bg-brand-light {
  background-color: $color-gold !important;
}

.bg-brand-primary {
  background-color: $color-murrey !important;
}

.bg-brand-secondary {
  background-color: $color-sgbus-green !important;
}

.bg-brand-tertiary {
  background-color: $color-sky-blue !important;
}

.text-white {
  color: $color-white !important;
}
