/* base color pallette */
$color-gold: #ffd700;
$color-sgbus-green: #71cd2f;
$color-murrey: #b3105c;
$color-white: #fff;
$color-off-white: #f5f5fa; // #f4fafd; #f1f4f9;
$color-cta-white: #e4f2ff;
$color-light-gray: #dddde5;
$color-gray: #b7b7b7;
$color-off-black: #252525;
$color-black: #000;
$color-sky-blue: #87ceeb;
$color-blue: #459AF6;
$color-berkeley-blue: #094581;
$color-dark-blue: #131A22; // #08062a;
$color-medium-blue: #232F3E;
$color-orange: #fdb913;
$color-light-green: #00eb80;
$color-dark-purple: #8050ed;
$color-yellow: #F5D637;
$color-yellow-active: #EbC92E;

/* common color abstractions */
$color-primary: $color-blue;
$color-secondary: $color-murrey;
$color-tertiary: $color-gold;
$color-inherit: $color-gray;

:root {
  --color-berkeley-blue: $color-berkeley-blue;
  --color-gold: $color-gold;
  --color-sky-blue: $color-sky-blue;
  --color-sgbus-green: $color-sgbus-green;
  --color-murrey: $color-murrey;
  --color-white: $color-white;
  --color-black: $color-black;
  --color-primary: $color-primary;
  --color-secondary: $color-secondary;
  --color-tertiary: $color-tertiary;
  --color-gray: $color-gray;
}
