@import '../../styles/utils/color-pallette';

.hero {
  min-height: 50vh;
  background-color: $color-blue;
  background-color: linear-gradient(to right, lighten($color-gray, 10%), darken($color-gray, 10%)) !important; /* Adjust colors as needed */
  background-size: cover;
  background-position: top center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  h1 {
    font-weight: bold;
    background: linear-gradient(to right, $color-primary, darken($color-primary, 5%)) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important ;
  }
  .lead {
    font-weight: bold;
    color: $color-blue;
    font-size: 1.2em;
  }
  p {
    color: $color-blue;
  }
  .toolbar {
    min-height: 8rem;
    background-color: $color-blue;
    color: $color-white;
  }
}