@import '../../styles/utils/color-pallette';

.hero-toolbar {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 0;
  background-color: $color-medium-blue;
  color: $color-white;
  input {
    margin: 8px;
  }
}

.hero {
  border: 0;
  position: relative;
  & .backgroundFacet {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    z-index: -2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25.8%, rgba(255, 255, 255, 0) 100%);
    }
  }

  .hero-text-wrapper {
    h1 {
      background: linear-gradient(
        to right,
        $color-off-black,
        darken($color-off-black, 10%)
      ) !important;
      background-clip: text !important;
      color: transparent !important ;
      font-weight: bold;
    }

    .lead {
      color: $color-off-black;
      font-size: 1.2rem;
    }

    p {
      color: $color-off-black;
    }
  }
  .focal-image {
    max-height: 100% !important;
    height: 100%;
    z-index: -1;
  }
}
