@import '../../styles/utils/color-pallette';

.hero {
  min-height: 50vh;
  border: 0;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: $color-blue;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .hero-text-wrapper {
    background-color: rgb(255, 255, 255, 0.4);

    h1 {
      background: linear-gradient(to right, $color-gray, darken($color-gray, 10%)) !important;
      background-clip: text !important;
      color: transparent !important ;
      font-weight: bold;
    }

    .lead {
      color: $color-off-black;
      font-size: 1.2rem;
    }

    p {
      color: $color-off-black;
    }
  }

  .toolbar {
    min-height: 8rem;
    margin:0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: $color-blue;
    color: $color-white;
  }
}