AWS_ACCOUNT_ID=123456789012
AWS_REGION=us-east-1
STAGE_NAME=default
BASE_URL=

APP_NAME=html-to-pdf
ENVIROMENT=local

AWS_BUCKET=298217020330-default-html-to-pdf-bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=