@import '../../styles/utils/color-pallette';

:global {
  .button {
    justify-content: center;
    box-sizing: border-box;
    min-height: 40px;
    margin: 8px;
    border: none;
    border-radius: 50px;
    background-color: $color-inherit;
    color: $color-black;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    font-family: Helvetica, arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: none;

    &.button-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &.button-loading {
      position: relative;

      >.spinner-border {
        position: absolute;
        top: calc(50% - 0.5rem);
        left: calc(50% - 0.5rem);
      }
    }

    &.button-primary {
      border: 2px solid darken($color-yellow, 10%);
      background-color: $color-yellow;
      color: $color-off-black;

      &:focus,
      &.button-selected {
        outline-color: $color-primary;
      }

      &.button-loading {
        color: transparent;

        >.spinner-border {
          color: $color-white;
        }
      }

      >svg {
        margin-left: 0.3rem;
        color: lighten($color-off-black, 15%);
      }

      &:hover {
        border-color: darken($color-yellow-active, 10%);
        background-color: $color-yellow-active;

        >svg {
          color: $color-off-black;
        }
      }
    }

    &.button-secondary {
      border: 2px solid $color-off-black;
      background-color: $color-white;
      color: $color-off-black;

      &:focus,
      &.button-selected {
        outline-color: $color-primary;
      }

      &.button-loading {
        color: transparent !important;

        >.spinner-border {
          color: $color-primary !important;
        }
      }

      &:hover {
        border-color: lighten($color-primary, 10%);
        color: $color-black;
      }
    }

    &.button-inherit {
      border: 2px solid $color-primary;
      background-color: transparent;
      color: $color-primary;

      &:focus,
      &.button-selected {
        outline-color: $color-primary;
      }

      &.button-loading {
        color: transparent;

        >.spinner-border {
          color: $color-primary;
        }
      }
    }

    &:focus,
    &.button-selected {
      outline-width: 2px;
      outline-style: solid;
      outline-offset: 2px;
    }

    &.button-contained {
      width: 100%;
      text-align: center;
    }

    &.button-small {
      min-height: 32px;
      padding: 4px 18px !important;
      font-size: 0.8rem;
    }

    &.button-normal,
    &.button-medium {
      padding: 10px 16px;
      font-size: 1rem;
    }

    &.button-large {
      padding: 14px 30px;
      font-size: 1.4rem;
    }
  }

  .reversed {
    & .button {
      &.button-secondary {
        border: 2px solid $color-white;
        background-color: transparent;
        color: $color-white;

        &:hover {
          background-color: lighten($color-primary, 10%);
        }
      }

      &.button-primary {
        border: 2px solid $color-white;
        background-color: $color-white;
        color: $color-black;

        &:hover {
          background-color: lighten($color-primary, 10%);
        }
      }
    }
  }
}