@import '../../styles/utils/color-pallette';

:global {
  .button {
    cursor: pointer;
    background-color: $color-inherit;
    color: $color-black;
    font-size: 1rem;
    font-family: Helvetica, arial, sans-serif;
    font-weight: bold;
    border-radius: 36px;
    border: none;
    margin: 8px;
    box-shadow: none;
    transition: background-color 0.3s ease;
    &.button-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.button-primary {
      border: 3px solid $color-primary;
      background-color: $color-primary;
      color: $color-white;
      &:focus, &.button-selected {
        outline-color: $color-primary;
      }
      &.button-loading {
        color: transparent;
        > .spinner-border {
          color: $color-white;
        }
      }
      &:hover {
        border-color:  lighten($color-primary, 5%);
        background-color: lighten($color-primary, 5%);
      }
    }
    &.button-secondary {
      border: 3px solid $color-primary;
      background-color: transparent;
      color: $color-primary;
      &:focus, &.button-selected {
        outline-color: $color-primary;
      }
      &.button-loading {
        color: transparent;
        > .spinner-border {
          color: $color-primary !important;
        }
      }
      &:hover {
        border-color:  lighten($color-primary, 5%);
        color: $color-black;
      }
    }
    &.button-inherit {
      border: 3px solid $color-primary;
      background-color: transparent;
      color: $color-primary;
      &:focus, &.button-selected {
        outline-color: $color-primary;
      }
      &.button-loading {
        color: transparent;
        > .spinner-border {
          color: $color-primary;
        }
      }
    }
    &.button-loading {
      position: relative;
      > .spinner-border {
        position: absolute;
        top: calc(50% - 0.5rem);
        left: calc(50% - 0.5rem);
      }
    }
    &:focus, &.button-selected {
      outline-style: solid;
      outline-offset: 3px;
      outline-width: 3px;
    }
    &.button-contained {
      width: 100%;
      text-align: center;
    }
    &.button-small {
      font-size: 0.8rem;
      padding: 5px 20px 5px 20px;
    }
    &.button-normal, &.button-medium {
      font-size: 1rem;
      padding: 15px 46px 10px 46px;
    }
    &.button-large {
      font-size: 1.4rem;
      padding: 15px 30px 10px 30px;
    }
  }
}