@import '../../styles/utils/color-pallette';
@import 'bootstrap/scss/bootstrap';

.blurb {
  .blurb-pair-left,
  .blurb-pair-right {
    .icon {
      &.icon-color-blue {
        color: $color-blue !important;
      }

      &.icon-color-orange {
        color: $color-orange !important;
      }

      &.icon-color-green {
        color: $color-light-green !important;
      }

      &.icon-color-purple {
        color: $color-dark-purple !important;
      }

      &.icon-color-gray {
        color: $color-gray !important;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .blurb-pair-left,
    .blurb-pair-right {
      &.border-end,
      &.border-start {
        border: none !important;
      }
    }
  }
}
