@import '../../styles/utils/color-pallette';

:global {
  .social-media-bar {
    margin: 0;
    margin-top: 4rem;
    background-color: $color-medium-blue;
    box-shadow: rgb(0, 0, 0, 0.12) 0 4px 30px 0;

    .logo {
      width: 72px;
      height: 72px;
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
      background-image: url('/hxtree.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .social-links {
      ul {
        margin: 0;
        padding: 0;

        li {
          background-color: red;

          a {
            color: $color-white;
            text-align: right;
            text-decoration: none;

            &:hover {
              color: $color-white;
              font-weight: bold;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
