@import '../../styles/utils/color-pallette';
// @import '../../../public/hxtree.png';
:global {
  .social-media-bar {
    background-color: $color-primary;
    background: linear-gradient(to top left, $color-primary, darken($color-primary, 20%));
    margin: 0;
    margin-top: 4rem;
    // padding: 0.2rem 3rem;
    .logo {
      background-image: url('/hxtree.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 72px;
      height: 72px;
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
    }
    .social-links {
      ul {
        margin: 0;
        padding: 0;
        li {
          background-color:red;
          a {
            text-align: right;
            text-decoration: none;
            color: $color-white;
            &:hover {
              color: $color-white;
              opacity: 1;
              font-weight: bold;
            }
          }

        }
      }
    }
  }
}