@import '../../styles/utils/color-pallette';
@import '../../styles/fonts';

:global {
  .reversed {
    color: $color-white;
  }

  .center {
    text-align: center;
  };

  h1 {
    padding: 12px 0;
    color: $color-primary;
    font-weight: 800;
    font-size: 2rem;
    font-family: $font-family-serif;

    &.fill {
      padding: 13px;
      border-radius: 5px;
      background-color: $color-primary;
      color: $color-white;
    };

    &.border {
      position: relative;
      width: 100%;

      // padding: { xs 5px 0; sm 10px 0 };
      padding-left: 15px;
      border-bottom: none;
      font-weight: 600;
      font-size: 4rem;
      vertical-align: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 100%;
        margin: auto;
        border-radius: 3px;
        background: linear-gradient(180deg, #31aaff  0%, #2cd0ff 100%);
      }
    }
  }

  h2 {
    padding: 12px 0;
    color: $color-primary;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: $font-family-serif;

    &.border {
      position: relative;
      width: 100%;

      // padding: { xs 5px 0; sm 10px 0 };
      padding-left: 15px;
      border-bottom: none;
      font-weight: 600;
      font-size:  2rem;
      vertical-align: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 100%;
        margin: auto;
        border-radius: 3px;
        background: linear-gradient(180deg, #31aaff  0%, #2cd0ff 100%);
      };
    };

    &.fill {
      padding: 20px 13px;
      border-bottom: none;
      border-radius: 5px;
      background-color: $color-primary;
      color: $color-white;
      font-weight: bold;
    };
  };

  h3 {
    font-weight: 400;
    font-size:  1.7rem;
    font-family: $font-family-serif;
  };

  h4 {
    font-weight: 400;
    font-size:  1.6rem;
    font-family: $font-family-serif;
  };

  h5 {
    font-weight: 400;
    font-size:  1.4rem;
    font-family: $font-family-serif;
  };

  h6 {
    font-weight: 400;
    font-size:  1.2rem;
    font-family: $font-family-serif;
  }

  p.body1 {
    font-weight: 400;
    font-size:  1rem;
    line-height: 1.8rem;
    font-family: $font-family-sans-serif;
  }

  p.intro {
    font-weight: 400;
    font-size:  1.5rem;
    line-height: 2rem;
    font-family: $font-family-sans-serif;
  }
}