@import '../../styles/fonts';
@import '../../styles/utils/color-pallette';

$card-color-primary: $color-primary;
$card-color-secondary: $color-secondary;
$card-color-tertiary: $color-tertiary;
$card-call-out-offset: 16px;

@keyframes shimmer {
  0% {
    background-position: -1000px;
  }

  100% {
    background-position: 1000px;
  }
}


.card {
  border-radius: 1rem !important;
  transition: box-shadow 0.5s ease;

  .card-thumbnail {
    position: relative;
    margin:0;

    .card-img-top-wrapper {
      overflow: hidden;
      height: 180px;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      .card-img-top {
        height: 180px;
        background-color: $color-gray !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        transition: transform 1s ease, box-shadow 1s ease;
      }
    }

    .card-ribbon {
      position: absolute;
      top: 25px;
      margin-left: -$card-call-out-offset;
      color: $color-white;
      font-weight: bold;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      box-shadow:  0.7rem 0.7rem .75rem rgb(0, 0, 0, 0.2);

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: calc($card-call-out-offset / 2);
        border-right: 0 solid transparent;
        border-left: $card-call-out-offset solid transparent;
        transform: translateX(-50%);
      }

      &.card-ribbon-primary {
        border-top: 1px solid lighten($card-color-primary, 10%);
        border-right: 1px solid lighten($card-color-primary, 10%);
        border-bottom: 1px solid darken($card-color-primary, 10%);
        background-color: $card-color-primary;

        &::after {
          border-top: $card-call-out-offset solid darken($card-color-primary, 10%);
        }
      }

      &.card-ribbon-secondary {
        border-top: 1px solid lighten($card-color-secondary, 10%);
        border-right: 1px solid lighten($card-color-secondary, 10%);
        border-bottom: 1px solid darken($card-color-secondary, 10%);
        background-color: $card-color-secondary;

        &::after {
          border-top: $card-call-out-offset solid darken($card-color-secondary, 10%);
        }
      }

      &.card-ribbon-tertiary {
        border-top: 1px solid lighten($card-color-tertiary, 10%);
        border-right: 1px solid lighten($card-color-tertiary, 10%);
        border-bottom: 1px solid darken($card-color-tertiary, 10%);
        background-color: $card-color-tertiary;

        &::after {
          border-top: $card-call-out-offset solid darken($card-color-tertiary, 10%);
        }
      }
    }
  }

  .card-title {
    color: $color-primary;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
  }

  .card-body {
    .card-text {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }

  .card-footer {
    border-top: none;
    background-color: transparent;
    font-size: 1rem;

    .card-link {
      color: $color-gray;
      text-decoration: none;
      text-transform: uppercase;
    }

    .icon svg {
      color: $color-gray !important;
    }
  }

  &:hover {
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);

    .card-ribbon-text {
      background: linear-gradient(90deg, #eee, #ddd, #fff);
      background-size: 1000px 100%;
      background-clip: text;
      color: transparent;
      animation: shimmer 10s linear;
    }

    .card-img-top-wrapper {
      .card-img-top {
        transform: scale(1.05);
      }
    }

    .card-footer {
      .card-link {
        color: $color-primary;
      }

      .icon svg {
        color: $color-primary !important;
      }
    }
  }
}
