@import '../../styles/fonts';
@import '../../styles/utils/color-pallette';

$card-color-primary: $color-primary;
$card-color-secondary: $color-secondary;
$card-color-tertiary: $color-tertiary;

$card-call-out-offset: 16px;

.card {
  border-radius: 1rem;
  .card-title {
    font-size: 1.7rem;
    color: $color-primary;
    font-family: $font-family-serif;
    font-weight: bold;
  }
  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    .card-img-top {
      transform: scale(1.02);
      transition: transform .2s;
    }
  }
  .card-thumbnail {
    margin:0;
    position: relative;
    .card-img-top-wrapper {
      overflow: hidden;
      height: 180px;
      .card-img-top {
        height: 180px;
        background-color: $color-gray !important;
        background-size: 100% 100% !important;
        background-position: center center;
      }
    }

    .card-ribbon {
      text-transform: uppercase;
      font-weight: bold;
      top: 25px;
      position: absolute;
      margin-left: -$card-call-out-offset;
      color: $color-white;
      text-align: center;
      line-height: 50px;
      box-shadow:  0.7rem 0.7rem .75rem rgba(0, 0, 0, 0.2);
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: calc($card-call-out-offset/2);
        transform: translateX(-50%);
        border-left: $card-call-out-offset solid transparent;
        border-right: 0px solid transparent;
      }
      &.card-ribbon-primary {
        background-color: $card-color-primary;
        border-top: 1px solid lighten($card-color-primary, 10%);
        border-right: 1px solid lighten($card-color-primary, 10%);
        border-bottom: 1px solid darken($card-color-primary, 10%);
        &::after {
          border-top: $card-call-out-offset solid darken($card-color-primary, 10%);
        }
      }
      &.card-ribbon-secondary {
        background-color: $card-color-secondary;
        border-top: 1px solid lighten($card-color-secondary, 10%);
        border-right: 1px solid lighten($card-color-secondary, 10%);
        border-bottom: 1px solid darken($card-color-secondary, 10%);
        &::after {
          border-top: $card-call-out-offset solid darken($card-color-secondary, 10%);
        }
      }
      &.card-ribbon-tertiary {
        background-color: $card-color-tertiary;
        border-top: 1px solid lighten($card-color-tertiary, 10%);
        border-right: 1px solid lighten($card-color-tertiary, 10%);
        border-bottom: 1px solid darken($card-color-tertiary, 10%);
        &::after {
          border-top: $card-call-out-offset solid darken($card-color-tertiary, 10%);
        }
      }
    }
  }
}
