@import './color-pallette';

.bgBrandDark {
  background-color: $color-berkeley-blue;
}

.bgBrandLight {
  background-color: $color-gold;
}

.bgBrandPrimary {
  background-color: $color-murrey;
}

.bgBrandSecondary {
  background-color: $color-sgbus-green;
}

.bgBrandTertiary {
  background-color: $color-sky-blue;
}
