:root {
  --color-berkeley-blue: #003366ff;
  --color-gold: #ffd700ff;
  --color-sky-blue: #87ceebff;
  --color-sgbus-green: #71cd2fff;
  --color-murrey: #990f4bff;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: var(--color-berkeley-blue)
  --color-secondary: var(--color-murrey)
}

$berkeley-blue: #003366ff;
$gold: #ffd700ff;
$sky-blue: #87ceebff;
$sgbus-green: #71cd2fff;
$murrey: #990f4bff;
$white: #FFF;
$black: #000;

