.isometric-canvas {
  display: block;
  width: 80vw;
  height: 80vh;
  margin: 0;
  background: linear-gradient(
    222deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-color: 090979;
}
