@import '../../styles/utils/color-pallette';

:global {
  .page-footer {
    margin: 0;
    padding: 3rem;
    background-color: $color-black;
    color: $color-gray;

    a {
      padding: 0.2rem;
      color: $color-primary;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $color-primary;
        font-weight: bold;
      }
    }

    hr {
      margin-top: 3rem;
      margin-bottom: 3rem;
      border: 3px solid $color-sky-blue;
      opacity: 0.3;
    }
  }
}
