@import '../../styles/utils/color-pallette';

:global {
  .page-footer {
    background-color: $color-black;
    color: $color-gray;
    margin: 0;
    padding: 3rem;

    a {
      padding: 0.2rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-primary;

      &:hover {
        color: $color-primary;
        font-weight: bold;
      }
    }

    hr {
      margin-top: 3rem;
      margin-bottom: 3rem;
      opacity: 0.3;
      border: 3px solid $color-sky-blue;
    }

  }
}