body {
  background-color: #0d6efd;
  font-family: amiga;
  font-size: 1.5em;
  font-family: 'VT323', monospace;
}

#content {
  position: relative;
  top: -45em;
}

#headline {
  position: relative;
  top: 0.5em;
  font-size: 5em;
  background-color: white;
  padding-left: 0.5em;
  text-align: center;
}

#controls {
  float: right;
}

#info {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.control {
  width: 3em;
  height: 3em;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  cursor: pointer;
  margin: 4px;
}

.control:active,
.control.pressed {
  box-shadow: 0px 3px 0px rgba(50, 50, 50, 1), 0px 3px 6px rgba(0, 0, 0, 0.7);
}

#play {
  background-image: url('../img/play.svg');
  background-size: 61%;
  background-position: 16px 9px;
  background-repeat: no-repeat;
}

#pause {
  background-image: url('../img/pause.svg');
  background-size: 61%;
  background-position: center;
  background-repeat: no-repeat;
}

#loop {
  display: none;
}

#loop + label {
  background-color: burlywood;
  background-image: url('../img/loop.svg');
  background-size: 61%;
  background-position: center;
  background-repeat: no-repeat;
}

#loop:checked + label {
  box-shadow: 0px 3px 0px rgba(50, 50, 50, 1), 0px 3px 6px rgba(0, 0, 0, 0.7);
}
